:root {
    --cor-background: #fafafa;
    --cor-text: #262626;
    --cor-text-secondary: #8e8e8e;
    --cor-button: #0095f6;
    --cor-text-butto: #fff;
    --cor-link: #0095f6;
    --cor-border: #d3d3d3;
    --cor-box-form: #fff;
}
