body {
  background-color: #fff;
}

.container {
  width: 100%;
}

@media (min-width: 650px) and (max-width: 999px) {}

@media (min-width: 1000px) {
  body {
    background-color: var(--cor-background);
  }

  .container {
    width: 60%;
    margin: auto;
  }
}
